DJANGO_ENV=production
SECRET_KEY='django-insecure-*ey%88p-nkc0!mzn@-bb$r@l#7x*g8er5v&4wlp=yta^()1jhc'

ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=pitomnik_db
POSTGRES_USER=pitomnic_user
POSTGRES_PASSWORD=alauga2025
POSTGRES_HOST=db
POSTGRES_PORT=5432